@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: burlywood;
  width: 100vw;
  height: 100vh;
}
h2 {
  color: rgb(52, 6, 136);
}
h3 {
  text-align: center;
  font-size: 30px;
  color: white;
}
h4 {
  font-size: 20px;
  color: brown;
}
hr {
  border: thin solid yellow;
}

.parent {
  font-size: 10px;
  border: 2px solid red;
  margin: 10px;
}
#heading1 {
  color: rgba(7, 246, 154, 0.945);
  font-size: 3em;
}

#heading2 {
  color: blueviolet;
  font-size: 3rem;
}
#box {
  width: 400px;
  height: 200px;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
}
p {
  font-size: 15px;
  background-color: skyblue;
  padding: 10px;
  margin: 1rem;
}
.para2,
para3,
para4 {
  font-size: 15px;
  background-color: skyblue;

  margin: 1rem;
}
.para2 {
  text-align: center;
}
.para3 {
  text-align: right;
}
.para4 {
  text-align: justify;
}
.boxa {
  width: 15rem;
  height: 6rem;
  margin: 5px;
}
#box1 {
  background-color: red;
  position: relative;
  z-index: 1;
}
#box2 {
  background-color: blue;
  position: relative;
  top: -3rem;
  left: 2rem;
  z-index: -1;
}
#box3 {
  background-color: green;
  position: relative;
  top: -6rem;
  left: 4rem;
  z-index: 127;
}
.par {
  background-color: pink;
  border: 2px ridge red;
}
#par1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#par2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#par3 {
  font-family: "Poppins", sans-serif;
}
#par4 {
  font-family: "Tiro Devanagari Marathi", serif;
}
#unit {
  width: 400px;
  height: 200px;
  border: 2px solid blue;
}
